<main>
    <div class="container">

        <h1 class="title">Challenge Search Cities</h1>


        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" ng-model="app.city" class="form-control" placeholder="Search for..." typeahead-min-length="3" typeahead-template-url="customTemplate.html" uib-typeahead="city as city.name for city in app.searchCities($viewValue)" />
                    <span class="input-group-btn">
                        <button ng-click="app.showCity($event)" class="btn btn-primary" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>

        <div ng-show="app.city.name" class="panel panel-primary" style="margin-top: 50px">
            <div class="panel-heading">Selected City</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">Name: {{app.city.name}}</div>
                    <div class="col-md-3">Score: {{app.city.score}}</div>
                    <div class="col-md-3">Lat: {{app.city.latitude}}</div>
                    <div class="col-md-3">Long: {{app.city.longitude}}</div>
                </div>
            </div>
        </div>
    
    </div>
</main>

<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        <span> | <span class="badge">{{match.model.score}}</span></span>
        <span> | lat,long: {{match.model.latitude}},{{match.model.longitude}}</span>
    </a>
</script>
